* {
    box-sizing: border-box;
    padding: 0px ;
    margin: 0px ;
}

.video-container {
    height: 100vh;
    width: 100vw;
    background: black;
}

video {
    height: 100%;
    width: 100%;
}

.controls {
    width: 160px;
    top: 30vh;
    position: absolute;
    right: 5vw;
    /* border: 1px solid red; */
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
}

.controls>div {
    width: 60%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#record {
    border: 5px solid white;
    border-radius: 50%;
}

.inner-record {
    height: 70%;
    width: 70%;
    background: red;
    border-radius: 50%;
}

#capture {
    border: 5px solid white;
    border-radius: 50%;
}

.inner-capture {
    height: 70%;
    width: 70%;
    background: white;
    border-radius: 50%;
}

/* Animation-CSS */
@keyframes scaleInScaleOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.animate-record {
    animation-name: scaleInScaleOut ;
    animation-duration: 1s ;
    animation-iteration-count: infinite;
}

.animate-capture {
    animation-name: scaleInScaleOut ;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.video-filters {
    position: absolute;
    top: 10vh;
    left: 12vh;
    z-index: 3;
}

.filter {
    height: 14vh;
    width: 6vw;
    /* background: aqua; */
    border: 1px solid white;
    background-image: url("https://images.pexels.com/photos/1898555/pexels-photo-1898555.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    background-blend-mode: soft-light;
}

.filter-div {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
}

.zoom {
    flex-direction: column;
    /* border: 1px solid white; */
}

.zoom div {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fas {
    font-size: 1.6rem;
    color: white;
}

