*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}


.header{
    height: 80px;
    display: flex;
    background-color: #2c3e50;
    align-items: center;
    justify-content: space-around;
}

.tickets-filter{
    height: 68%;
    width: 36%;
    background-color: #95a5a6;
    display: flex;
    border-radius: 7px;
    justify-content: space-evenly;
    align-items: center;
}

.red{
    height: 60%;
    width: 15%;
    background-color: red;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.filter {
    opacity: 0.6;
    transition: transform 0.5s;

}

.filter:hover{
    opacity: 1;
    transform: scale(1.2);
}
.blue{

    height: 60%;
    width: 15%;
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
}

.green{
    height: 60%;
    width: 15%;
    margin: 5px;
    background-color: green;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.yellow{
    height: 60%;
    width: 15%;
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
}

.black{
    height: 60%;
    width: 15%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
}

.tickets-actions{
    height: 45px;
    background-color: #95a5a6;
    width: 85px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid;
}
.tickets-actions div{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.tickets-actions div:hover{
    background-color: #2c3e50;
}

.tickets-actions i{
    font-size: 18px;
}

.tickets-container{
    height: calc(100vh - 80px);
    width: 100%;
}